{% extends 'base.html.twig' %}

{% block title %}index page{% endblock %}

{% block body %}
    index page
{#    <script src="https://apps.elfsight.com/p/platform.js" defer></script>#}
{#    <div class="elfsight-app-cf5b71ba-0ed0-46cd-a598-d6031ae1ac7d"></div>#}

{% endblock %}
